@media screen and (min-width: 320px) and (max-width: 600px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  nav {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  a {
    color: red;
    font-size: 20px;
    text-decoration: none;
  }
  .a:hover {
    color: greenyellow;
  }
  section {
    width: 100%;
    height: 85vh;
    display: flex;
  }
  .sub_body3,
  .sub_body4,
  .sub_body5 {
    display: none;
  }
  div {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
    border: 2px solid black;
  }
  .h2 {
    width: 90%;
    height: 40px;
    display: flex;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: darkslategrey;
    text-shadow: 2px 2px red, 2px 2px 3px yellow;
    box-shadow: 2px 2px 2px 5px white, 2px 2px 2px 5px red;
  }
  .colorshow1,
  .colorshow2,
  .colorshow3,
  .colorshow4,
  .colorshow5 {
    color: blue;
  }
  .btn {
    margin-top: 30px;
    padding: 5px 20px;
    border-radius: 10px;
  }
  .btn:hover {
    color: yellow;
    background-color: purple;
  }
  .all {
    left: 30%;
    bottom: 30px;
    font-size: 25px;
    font-weight: 600;
    padding: 5px 40px;
    position: absolute;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  nav {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  a {
    color: red;
    font-size: 20px;
    text-decoration: none;
  }
  .a:hover {
    color: greenyellow;
  }
  section {
    width: 100%;
    height: 90vh;
    display: flex;
  }
  .sub_body4,
  .sub_body5 {
    display: none;
  }
  div {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
    border: 2px solid black;
  }
  .h2 {
    width: 90%;
    height: 50px;
    display: flex;
    color: white;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: darkslategrey;
    text-shadow: 2px 2px red, 2px 2px 3px yellow;
    box-shadow: 2px 2px 2px 5px white, 2px 2px 2px 5px red;
  }
  .colorshow1,
  .colorshow2,
  .colorshow3,
  .colorshow4,
  .colorshow5 {
    color: blue;
  }
  .btn {
    margin-top: 40px;
    padding: 10px 40px;
    border-radius: 10px;
  }
  .btn:hover {
    color: yellow;
    background-color: purple;
  }
  .all {
    left: 30%;
    bottom: 30px;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 130px;
    position: absolute;
  }
}
@media screen and (min-width: 1024px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  nav {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  a {
    color: red;
    font-size: 20px;
    text-decoration: none;
  }
  .a:hover {
    color: greenyellow;
  }
  section {
    width: 100%;
    height: 90vh;
    display: flex;
  }
  div {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
    border: 2px solid black;
  }
  .h2 {
    width: 93%;
    height: 50px;
    display: flex;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: darkslategrey;
    text-shadow: 2px 2px red, 2px 2px 3px yellow;
    box-shadow: 2px 2px 2px 5px white, 2px 2px 2px 5px red;
  }
  .colorshow1,
  .colorshow2,
  .colorshow3,
  .colorshow4,
  .colorshow5 {
    color: blue;
  }
  .btn {
    margin-top: 40px;
    padding: 10px 40px;
    border-radius: 10px;
  }
  .btn:hover {
    color: yellow;
    background-color: purple;
  }
  .all {
    left: 35%;
    bottom: 30px;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 130px;
    position: absolute;
  }
}
